.st1{
    text-decoration-color: rgb(255, 90, 255);
    border-style: dashed;
    width: 90px;
    text-align: center;
    background-color: rgb(3, 139, 180);       
}
.hed{
    text-align: center;
    text-decoration: underline;       
}
.p4-it{
    font-style: italic;
    border-radius: 5px;
    /* font-size: larger; */
}
.p3-hed{
  color: rgb(0, 29, 122);
}

.p5-lis{
    color: rgba(6, 117, 15, 0.411);
    list-style-type: circle;
    font-size: larger;
}
.p5-back{
    background-color: rgb(234, 253, 255);
}
.p5-un{
    text-decoration-line: line-through;
    color: red;
}
.p6-box{
    border: 1px solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 265px;
    height: 493px;
}
.p6-pic{
    width: 172px;
    height: 176px;
 }
 .p6-name{
     font-weight: bold;
     font-size: larger;
 }
 .p6-subname{
     font-weight: 100;
 }
 .p6-but:hover{
    background-color: #0497db; /* Green */
    color: white;
    /* padding: auto; */
 }
 span.blink {
    display: block;
    width: 15px;
    height: 15px;
    
    background-color: #0fcc45;
    opacity: 0.7;
    border-radius: 50%;
    
    animation: blink 1s linear infinite;
    
  }
.p6-nam-ped{
    display: inline;
 
  
  right: 0;
  width: 425px;
  /* right se left name aa rha hai */
}
.onli{
    right: 0;
    width: 425px;
    padding-right: 1px;
}
.tim{
    color: rgb(104, 95, 95);
}
.btn{
    width: 265px;
    height: 30px;
    padding-left: 50%;
    text-align: center;
    background-color: white;
    border-color: white;
    padding: 8px 16px;
    border: 1px;
   
}
.btn-space{
    height: 95px;
    border-color: white;
}
.p9-pic{
    width: 100%;
}
.p9-hed{
    padding: 60px;
    text-align: center;
    /* background: #1abc9c; */
  
    font-size: 17px;
}
.navbar {
    overflow: hidden;
    background-color: rgb(241, 201, 201);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }