.st2{
    text-decoration-color: red;
    background-color: rgb(151, 23, 23);
    width: 98px;
    
    
}
button:hover{
    background-color: #0497db; /* Green */
    color: white;
}
/* button{
    text-align: center;
    align-items: center;
    padding: 15px;
    background-color: rgb(236, 236, 223);
    border-radius: 12%;
    margin-left: 458px;
    position :unset;
} */
.img{
    width: 400px;
    height: 400px; 
    border-radius: 5px;  
}
div{
    margin: auto;
}
