.pic{
    border-style: dashed;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    
}
img{
    width: 100px;
    height: 100px;
    cursor: wait;
}
button:hover{
    background-color: #0497db; /* Green */
    color: white;
    
}
button{
    width: 260px;
    height: 77px;
    font-size: 20px;
}
.txt-1{
    text-align: center;
    text-shadow: 20px;
    font-size: 30px;
    text-decoration: underline;
    color: rgb(13, 115, 173);
    text-anchor: middle;
}

/* Yogesh parmar */